@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --black: #1c2a39;
  --gray: #5c6a79;
  --purple: #4c3db2;
  --transition: all 250ms ease-in-out;
}

.navbar {
  height: 120px;
  width: 80%;
  margin-left: 10%;
}
.title {
  font-weight: bold;
}

.menu,
.menu__icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: var(--gray);
  cursor: pointer;
}

.menu .active {
  color: var(--black);
  font-weight: bold;
}

.menu li,
.menu__icons li {
  margin: 0 10px;
}

.menu__icons li {
  color: var(--black);
}

.basket__icon {
  position: relative;
}

.basket__count {
  position: absolute;
  right: -0.7rem;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.basket__count:empty {
  display: none;
}

.slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

.slider img {
  height: 600px;
}

.store {
  width: 80%;
  margin-left: 10%;
}

.book__card {
  height: 400px;
}

.book__card img {
  height: 400px;
}

.fos {
  font-family: "Open Sans", sans-serif;
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.fw-bold {
  font-weight: bold;
}

.book__star-rate .bi-star,
.bi-star-fill {
  color: #eeedf5;
  font-size: 1.2rem;
  margin-right: 5px;
}

.book__star-rate .bi-star-fill.active {
  color: #f2c94c;
}

.book__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.old__price {
  text-decoration: line-through;
  color: #bdbdbd;
}
.btn__purple {
  cursor: pointer;
  border: 2px solid var(--purple);
  color: var(--purple);
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  transition: var(--transition);
  padding: 5px 0;
}

.btn__purple:hover {
  background-color: var(--purple);
  color: white;
}

.filter__background {
  position: absolute;
  left: 0;
  width: 600px;
  height: 900px;
  background-color: #efeef6;
  z-index: -1;
}

.filter {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-height: 650px;
  justify-content: center;
}

.filter li {
  color: var(--gray);
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.filter li:hover {
  color: var(--purple);
}

.filter li.active {
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: bold;
}

.filter li.active::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  left: -5px;
  margin-top: 12px;
}

.basket__modal {
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  background-color: #5c6a7950;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--transition);
}

.basket__modal.active {
  opacity: 1;
  z-index: 999;
}

.basket__items {
  position: relative;
  width: 0;
  background-color: white;
  height: 100%;
  float: right;
  transition: var(--transition);
}

.basket__modal.active .basket__items {
  width: 450px;
}

.basket__items .bi-x {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
}

.basket__title {
  color: #1c2a39;
  margin-top: 5rem;
  text-align: center;
  font-weight: bold;
}

.basket__list {
  list-style-type: none;
  padding: 0 10px;
  margin-top: 3rem;
  max-height: 650px;
  overflow-y: auto;
}

.basket__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.basket__item-info {
  width: 250px;
}
.basket__item-info .book__name {
  font-size: 16px;
  font-weight: bold;
}
.basket__item-info .book__price {
  font-size: 16px;
}
.basket__item-info .book__remove {
  cursor: pointer;
  color: var(--gray);
}
.basket__item .book__count {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
}

.book__count .increase {
  margin-left: 5px;
}

.book__count .decrease {
  margin-right: 5px;
}

.book__count .increase,
.decrease {
  cursor: pointer;
  color: var(--purple);
}

.basket__total {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5%;
  align-items: center;
  width: inherit;
}

.basket__total button {
  width: 250px;
}

.total__price:empty + .btn__purple {
  display: none;
}
